/*paparan produk*/
.card {
    float: left;
    max-width: 200px;
    padding: 10px;
    margin: 2px;
    /* width: 25%;  Adjust this value to allow multiple cards per row */
    text-align: center;
    box-sizing: border-box; /* This ensures that padding and border are included in the element's total width and height */
}

/*frame gambar*/
.gambar {
    height: 120px;
    width: 100%;
    border: thin solid black;
}

/*header*/
.header{
    background-image: url('gambar/banner.jpg');
    height: auto;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the image to cover the entire container */
    width: 100%;
    color: white;
    text-align: center;
    padding-left: 5%;
}

/*left menu*/
#menu {
    position: absolute;
    width: 40%;
    left: 0.5%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(78, 65, 53, 0.5);
}

/*right content*/
#isi{
    position: absolute;
    width: 70%;
    left: 25%;
    overflow: auto;
    background-color: #f5f5f5;
    padding: 0px 0px 0px 100px;
    text-align: center;
}

/*button*/
button{
    padding: 4px;
    cursor: pointer;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/*background*/
body{
    background-image: url("gambar/back.jpg");
    height: 100%;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    width: 100%;
    box-sizing: border-box;
}

/*table*/
td,tr {
    border: 1px;
    background-color: #99CCFF;
    text-align: left;
    padding: 8px;
}

/*table row*/
tr:nth-child(even) {
    background-color: white;
}

hr {
    border: none;
    height: 3px;
    color: #333;
    background-color: #333;
}